<html>
    <body align="left">
        <br/><br/><br/><br/><br/><br/><br/><br/>

        <h2>
        <form action="/withdraw" method="post">
            Please Enter your email address:<br/><br/>
            <input type=text name="emailAddress" size=40 height=20> <br/><br/>
            {{ form.tokenId }}
            {{ form.amount }}
            <input type=submit value="Withdraw $ {{ form.amountValue }} to your account" >
        </form>
    </h2>
        Note: You can also use our Bitcoin Keyboard to handle this for you in future.
    </body>
</html>
